@*
*@
@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-bookType="" asp-route-pageNum = "1" class="btn btn-outline-secondary">Home</a>
    <!--create a list of book categories here-->
    @foreach (String t in Model)
        { 
    // add ViewBag so that we can show which category is selected in the side bar
        <a asp-controller="Home" asp-action="Index" asp-route-bookType="@t" asp-route-pageNum="1" class="btn
           @(ViewBag.SelectedType == t ? "btn-primary" :  "btn-outline-secondary")">@t</a>
        
    }
</div>