@page
@model Mission9.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your purchase has been submitted!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
